:root
{
    --primary-color: #4A3000;
    --secondary-color: #8B4513;
    --accent-color: #D2691E;
    --light-brown: #DEB887;
    --bg-color: #FFF8F0;
    --text-color: #333333;
    --white: #ffffff;
    --dart-text:rgb(56, 55, 55);
}

*
{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p,a
{
    font-size: 18px;
}

button
{
    font-size: 18px;
}

header
{
    height: 60px;
    position: fixed;
    background-color: white;
    right: 0;
    left: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    z-index: 10;
}

header i
{
    font-size: 18px;
}

.header-menu a
{
    color: black;
    text-decoration: none;
    padding: 0 5px;
}

.header-menu a:hover, header i:hover
{
    color: var(--accent-color);
}

.headerLeft, .headerRight
{
    display: flex;
    align-items: center;
    gap: 10px;
}

header h2 
{
    color: var(--secondary-color);
}

.button-59 
{
    align-items: center;
    background-color: #fff;
    border: 2px solid var(--dart-text);
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-weight: 600;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: bold;
}

.button-59:focus {
    color: #171e29;
}

.button-59:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
    fill: var(--accent-color);
}

.button-59:active {
    border-color: var(--accent-color);
    color: var(--accent-color);
    fill: var(--accent-color);
}

.primary-btn 
{
    background-color: var(--primary-color);
    color: white;
}

.primary-btn:hover 
{
    background-color: var(--accent-color);
    color: white;
}

.hero
{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(../images/hero.jpg);
    height: 600px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-cont 
{
    text-align: left;
}

.hero-cont h1 
{
    font-size: 50px;
}

.hero-cont p 
{
    font-size: 21px;
    width: 60%;
    padding: 10px 0;
}

.hero-cont button
{
    background-color: transparent;
    font-size: 20px;
    border: solid 2px white;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    color: white;
    margin-top: 10px;
}

.hero-cont button:hover
{
    background-color: var(--light-brown);
    color: black;
}

.highlight-text
{
    color: var(--light-brown);
}

.highlight-text2
{
    border-bottom: solid 5px var(--light-brown);
}

.about
{
    padding: 100px 200px;
    color: var(--secondary-color);
}

.about h1 
{
    font-weight: bold;
}

.main-title 
{
    font-size: 40px;
    color: black;
}

.two-cont 
{
    display: flex;
    overflow: hidden;
    margin-top: 20px;
}

.two
{
    width: 50%;
}

.two p 
{
    width: 90%;
    color: var(--dart-text);
    font-size: 21px;
    padding: 10px 0;
}

.two button 
{
    font-size: 23px;
    padding: 7px;
    margin-top: 5px;
}

.two img 
{
    width: 100%;
}

.coffees 
{
    background-image: url("../images/coffee-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 200px;
    background-blend-mode: multiply;
}

.coffee-cont 
{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 0 50px;
}

.coffees  h1
{
    color: white;
    font-weight: bold;
}

.coffee-card 
{
    overflow: hidden;
    height: 300px;
    width: 250px;
    border-radius: 15px;
    position: relative;
    margin: 10px;
    margin-top: 50px;
}

.coffee-card img 
{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-filter 
{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.title-price
{
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.foods 
{
    background-image: url("../images/food-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 200px;
    background-blend-mode: multiply;
}

.food-cont 
{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 0 50px;
}

.foods  h1
{
    font-weight: bold;
    color: var(--accent-color);
}

.food-card 
{
    overflow: hidden;
    height: 300px;
    width: 250px;
    border-radius: 15px;
    position: relative;
    margin: 10px;
    margin-top: 50px;
}

.food-card img 
{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-filter 
{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.title-price
{
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.title-price h2, 
.title-price h3
{
    font-weight: bold;
}

.heart 
{
    color: gray;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.title-more
{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.title-more button 
{
    margin-right: 70px;
    color: white;
    border-color: white;
    background-color: transparent;
    font-size: 23px;
    padding: 7px 10px;
}

.foods .main-title
{
    color: black;
}

.tempfood button
{
    color: black;
    border-color: black;
}

.contact 
{
    padding: 50px 200px;
}

.contact-cont  h1, .contact-cont  h3
{
    font-weight: bold;
}

h1
{
    font-weight: bold;
}

.contact-two-cont
{
    display: flex;
    margin-top: 50px;
}

.contact-two
{
    width: 50%;
}

.contact-two p 
{
    font-weight: bold;
    color: gray;
}

.contact-two-one
{
    display: flex;
    margin-bottom: 50px;
}

.contact-two-one i
{
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    background-color:var(--secondary-color);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    color: white;
    margin-right: 20px;
}

.contact-text
{
    padding: 30px;
}

.con-text
{
    font-size: 23px;
    color: var(--dart-text);
    margin-top: 10px;
}

.sub-mtitle 
{
    color: var(--accent-color);
}

footer
{
    background-color: var(--primary-color);
    color: white;
    padding: 50px 100px;
}

.copyright 
{
    text-align: center;
    color: var(--dart-text);
    color: white;
}

.add-to-cart-txt
{
    color: white;
    position: absolute;
    top: 15px;
    right: 50px;
}


.heart
{
    cursor: pointer;
    z-index: 5;
}

.heart:hover
{
    color: red;
}

@keyframes moveLeft 
{
    100%{opacity: 1;}
    
}

.add-to-cart-txt
{
    position: absolute;
    top: -2px;
    width: 140px;
    right: 0;
    text-align: left;
    opacity: 0;
    z-index: 7;
}

.add-to-cart-txt div 
{
    background-color: pink;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 7px;
    z-index: -3;
}

.add-to-cart-txt:hover 
{
    animation: moveLeft 0.5s forwards;
    z-index: 2;
}

#bars
{
    display: none;
}

.order1 
{
    order: 0;
}

.order2 
{
    order: 1;
}

.two-cont .order2 img
{
    height: 450px;
    object-fit: cover;
}

.title-more button 
{
    margin-right: 15px;
}

@media (max-width:1050px)
{
    .hero
    {
        padding: 0 50px;
    }
    .about 
    {
        padding: 100px;
    }

    .coffees, .foods
    {
        padding: 50px 100px;
    }

    .coffee-cont, .food-cont 
    {
        padding: 0;
    }

    .contact 
    {
        padding: 50px 100px;
    }
}

@media (max-width:835px)
{
    .m-cart 
    {
        display: flex;
    }

    .cart-page 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cart-page h1 
    {
        margin-bottom: 30px;
    }

    table 
    {
        display: none;
    }
    #bars 
    {
        display: flex;
    }

    .header-menu, .header-btns
    {
        display: none;
    }
    .coffees, .foods
    {
        padding: 50px;
    }

    .coffee-cont,.food-cont 
    {
        grid-template-columns: repeat(2,1fr);
        padding: 0 50px;
    } 

    .contact-two-cont, .two-cont
    {
        flex-direction: column;
    }

    .contact-two, .two
    {
        width: 97%;
        margin: auto;
    }

    .order1
    {
        order: 1;
    }

    .order2
    {
        order: 0;
    }

    .two-cont .order1
    {
        margin: 0;
        padding: 9;
        padding: 30px;
    }

    .cart-page
    {
        padding: 10px;
    }
    
}

@media (max-width:600px)
{
    .coffees, .foods
    {
        padding: 50px 10px;
    }

    .coffee-cont,.food-cont 
    {
        grid-template-columns: repeat(1,1fr);
        padding: 0;
    } 

    .contact, .about
    {
        padding: 39px;
    }

    .coffee-card, .food-card
    {
        width: 350px;
        height: 350px;
    }

    .coffee-card img, .food-card img
    {
        height: 350px;
    }

    .about 
    {
        padding: 30px 10px;
    }

    .hero
    {
        padding: 0 30px;
        height: 700px;
    }

    .two-cont .order1
    {
        padding: 15px;
    }

    .contact-text
    {
        padding: 0;
    }

    header 
    {
        padding: 0 20px;
    }

    .headerRight i 
    {
        font-size: 25px;
    }

    .headerLeft h2 
    {
        font-size: 30px;
    }

    .heart, .fa-heart 
    {
        font-size: 30px;
    }
   
    .heart  
    {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }

    .add-to-cart-txt 
    {
        width: fit-content;
        right: 10px;
    }

    .add-to-cart-txt div 
    {
        margin-right: 50px;
        width: 200px;
    }

}

.sidenav 
{
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: var(--primary-color); 
    overflow-x: hidden; 
    padding-top: 60px; 
    z-index: 50;
}

.sidenav hr 
{
    margin: 5px 20px;
}
  
.sidenav a ,.sidenav h1
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(194, 188, 188);
    display: block;
    transition: 0.3s;
}

.sidenav h1
{
    color: rgb(222, 220, 220);
}
  
.sidenav a:hover 
{
    color: var(--accent-color);
}

.sidenavh
{
    margin-top: 30px;
}

.sidenav .closebtn 
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

#main 
{
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) 
{
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@keyframes imgMoving
{
    50%{transform: translateX(-20px);}
    100%{transform: translateX(0);}
}


.sign-up-page 
{
    background: linear-gradient(to right, rgba(0,0,0,0.5) ,  #50442e65), url(../images/about.avif);
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 1000px;
    right: -20px;
    z-index: -1;
    animation: imgMoving ease-in-out 15s infinite;
}

.headerLeft a 
{
    color: white;
    text-decoration: none;
    margin-left: 50px;
}

.headerLeft a:hover 
{
    color: var(--accent-color);
}

.sign-up-header 
{
    background-color: transparent;
    box-shadow: 0 0 0 0;
}

.form-account 
{
    background-color:rgba(255, 255, 255, 0.805);
    color: var(--dart-text);
    padding: 50px 30px;
    border: none;
    border-radius: 25px;
    position: fixed;
}

.cont-account 
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.have-acc 
{
    color: rgb(96, 96, 96);
    padding: 10px 0;
    text-align: center;
}

.form-account input
{
    padding: 7px;
    margin: 0 5px;
    background-color: rgb(183, 183, 183);
    border: none;
    border-radius: 10px;
    
}

.form-account h1 
{
    text-align: center;
    margin-bottom: 40px;
    color: var(--secondary-color);
}

.form-account input 
{
    border-bottom: solid 1px var(--dart-text);
}

.divname
{
    display: flex;
    margin-bottom: 5px;
}

.div-button button
{
    padding: 7px;
    width: 100%;
    margin-top: 20px;
    
}

.long 
{
    width: 350px;
}

.long input 
{
    width: 100%;
}

.fname, .lname, .long
{
    padding-left: 10px;
}

.fname input, .lname input, .long input
{
    margin-left: -4px;
}

.long 
{
    margin-top: 10px;
}

.loginput input
{
    width: 335px;
}

@media (max-width:600px) 
{
    .long
    {
        width: 200px;
    }

    .long input
    {
        width: 240px;
    }

    .divname 
    {
        flex-direction: column;
    }

    .form-account 
    {
        padding: 30px 20px;
        margin-top: 50px;
    }

    .fname
    {
        margin-bottom: 10px;
    }
    
}

.cart-page 
{
    background-color: whitesmoke;
    padding: 100px;
    padding-bottom: 200px;
}

.cart-page  h1 
{
    text-align: center;
    font-size: 40px;
    color: var(--secondary-color);
}

table 
{
    width: 100%;margin-top: 70px;
}

table h2 
{
    font-weight: lighter;
}

tr
{
    background-color: white;
}

td
{
    padding: 7px;
}

.thdata 
{
    background-color: rgb(219, 218, 218);
    color: var(--secondary-color);
}

.cart-item
{
    display: flex;
    overflow: hidden;
    width: 200px;
    justify-content: center;
    align-items: center;
}

.cart-item img 
{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.cart-item h3 
{
     font-size: 20px;
     margin: 0 10px;
}

.quantifier
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantifier button
{
    width: 30px;
    height: 30px;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantifier input
{
    width: 20px;
    height: 10px;
    padding: 7px;
    text-align: center;
}

.check-out
{
    background-color: white;
    width: 300px;
    height: 150px;
    float: right;
    margin-top: 10px; 
    padding: 30px;
    
}

.check-out h2 
{
    color: var(--dart-text);
}

.check-out .grand-total
{
    font-size: 30px;
    color: gray;
    margin: 5px 0;
}

.check-out button
{
    width: 100%;
    padding: 7px;
    margin-top: 20px;
}

.headerRight a
{
    color: #000;
}

.button-59, .grand-total
{
    font-weight: 400;
}

.headerLeft img 
{
    height: 90px;
    margin-top: 5px;
}

.cancelbtn 
{
    background-color: rgb(161, 16, 16);
    padding: 5px;
    color: white;
}

@media  (max-height: 835px) 
{
    .cart-page 
    {
        padding: 100px 20px;
    }
}


.m-cart
{
    background-color: white;
    width: 280px;
    height: auto;
    margin-top: 10px; 
    padding: 30px;
    position: relative;
    padding-bottom: 70px;
    display: none;
    justify-content: center;
}

.m-qountifier
{
    justify-content: start;
}

.m-cart-item 
{
    width: fit-content;
    padding: 0;
}

.cart-item-cont
{
    padding: 0 30px;
}

.cart-item-cont h4 
{
    display: flex;
    margin: 10px 0;
}

.cart-item-cont h4 p 
{
    margin-left: 10px;
}

.cart-item-cont .cancelbtn
{
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.cart-item-cont h3 
{
    margin-bottom: 10px
}

.m-cart-item, .m-cart-item img
{
    width: 320px;
    height: 150px;
}

.cart-page 
{
    padding-bottom: 400px;
}

@media (max-width:835px)
{
    .m-cart 
    {
        display: flex;
    }
}